<div class="chat-bubble">
    <div class="bubble-head"><b><%= params.handle %></b></div>
    <div id="spacer"></div>
    <%= params.message %>
    <div id="spacer"></div>
    <div class="bubble-footer"></div>
</div>    